@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .hero-bg {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("/images/bg2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .project-card:hover .project-overlay {
        opacity: 1;
    }

    .project-card:hover img {
        transform: scale(1.1);
    }

    /* Project Details Interaction */
    .project-card.details-active .project-overlay {
        opacity: 0;
        pointer-events: none;
    }

    .project-card.details-active .project-details {
        opacity: 1;
        pointer-events: auto;
    }

    /* Testimonial Pagination */
    .splide__pagination {
        bottom: -2em !important;
    }

    /* Fix centering issues */
    #testimonial-carousel .splide__slide {
        width: 100%;
    }
}